<div class="container-fluid" style="margin-top:40px; margin-bottom:40px;">
{% set showcases = h.nwmd_theme_showcases() %}
  <div class="row">
    {% for showcase in showcases %}
    {% set image_url = h.get_value_from_showcase_extras(showcase.extras, 'image_url') %}
      <div class="col-md-4">
        <div class="topic-box">
          <div class="showcase-icon">
            {% if image_url and not image_url.startswith('http') %}
            <img data-lazy="/uploads/showcase/{{ image_url }}" alt="{{ showcase.title }}" loading="lazy" class="media-image img-responsive">
            {% else %}
            <img src="{{ image_url or h.url_for_static('/base/images/placeholder-group.png') }}" loading="lazy" alt="{{ showcase.title }}" class="media-image img-responsive">
            {% endif %}
          </div>
          <div class="topic-title">{{showcase.title}}</div>
          <div class="topic-description">{{showcase.description}}</div>
          <div class="topic-link">
            <a href="{{showcase.url}}" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>