
{% extends "page.html" %}
{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
          {% import 'macros/form.html' as form %}

          <h1 class="page-heading">Contact</h1>
          <form action="{{ h.url_for('nmwd.contact') }}" method="post">

            {{ form.errors(error_summary) }}
            {{ form.input("firstname", id="first", label=_("First Name"), placeholder=_("First Name"), value=data.firstname, error=errors.first, classes=["control-medium"], is_required=True) }}
            {{ form.input("lastname", id="last", label=_("Last Name"), placeholder=_("Last Name"), value=data.lastname, error=errors.last, classes=["control-medium"], is_required=True) }}
            {{ form.input("email", id="email", label=_("Email"), type="email", placeholder=_("Enter email"), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
            {{ form.textarea("message", id="message", label=_("Message"), value=data.message, error=errors.message, classes=["control-medium"], is_required=True) }}

            {% if g.recaptcha_publickey %}
              {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
            {% endif %}

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
